<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Formulário de Requisição</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
  <div class="container">
    {% if not email %}
      <h1>Login com Google</h1>
      <div class="text-center">
        <a href="{{ url_for('google.login') }}" class="btn btn-primary">Login com Google</a>
      </div>
    {% else %}
      <h1>Preencher Requisição</h1>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <div class="flash">
            {{ messages[0] }}
          </div>
        {% endif %}
      {% endwith %}
      <form method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label for="solicitante">Solicitante:</label>
          <input type="text" id="solicitante" class="form-control" value="{{ email }}" disabled>
        </div>

        <div class="form-group">
          <label for="data_solicitacao">Data da Solicitação:</label>
          <input type="date" name="data_solicitacao" id="data_solicitacao" class="form-control">
        </div>

        <div class="form-group">
          <label for="descricao_ib">Descrição do IB:</label>
          <textarea name="descricao_ib" id="descricao_ib" class="form-control"></textarea>
        </div>

        <div class="form-group">
          <label for="numero_ib">Nº do IB:</label>
          <textarea name="numero_ib" id="numero_ib" class="form-control"></textarea>
        </div>

        <div class="form-group">
          <label for="anexo">Anexo:</label>
          <input type="file" name="anexo" id="anexo" class="form-control-file">
        </div>

        <div class="text-center">
          <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
      </form>
    {% endif %}
  </div>
</body>
</html>
