<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Workflow IB</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
  <div class="container">
    <h1>Bem-vindo ao Workflow IB</h1>
    <p>Logado como: {{ email }}</p>
    <div class="text-center">
      <a href="{{ url_for('form') }}" class="btn btn-primary">Preencher Requisição</a>
      <a href="{{ url_for('logout') }}" class="btn btn-secondary">Logout</a>
    </div>
  </div>
</body>
</html>
